In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

df = pd.read_csv("fraud_detection_bank_dataset.csv", index_col=0)
df.rename({"targets": "target"}, axis=1, inplace=True)
df.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_103,col_104,col_105,col_106,col_107,col_108,col_109,col_110,col_111,target
0,9,1354,0,18,0,1,7,9,0,0,...,0,0,0,1,1,0,0,0,49,1
1,0,239,0,1,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,55,1
2,0,260,0,4,0,3,6,0,0,0,...,0,0,0,1,1,0,0,0,56,1
3,17,682,0,1,0,0,8,17,0,0,...,0,1,0,1,1,0,0,0,65,1
4,1,540,0,2,0,1,7,1,0,0,...,0,0,0,1,1,0,0,0,175,1

In [9]:
X = df.drop("target", axis=1)
y = df["target"]

# X_train to train the model, X_test for hyperparameter tuning and X_val for model validation
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=.1, stratify=y)
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=.2, stratify=y_train)

X_train.to_csv("X_train.csv", index=False)
y_train.to_csv("y_train.csv", index=False)

X_test.to_csv("X_test.csv", index=False)
y_test.to_csv("y_test.csv", index=False)

X_val.to_csv("X_val.csv", index=False)
y_val.to_csv("y_val.csv", index=False)

print(f"X_train: {X_train.shape}, y_train: {y_train.shape}")
print(f"X_test: {X_test.shape}, y_test: {y_test.shape}")
print(f"X_val: {X_val.shape}, y_val: {y_val.shape}")

X_train: (14736, 112), y_train: (14736,)
X_test: (3685, 112), y_test: (3685,)
X_val: (2047, 112), y_val: (2047,)

In [21]:
string = ""
for c in df.columns:
    string += f"{c}: float\n"
    
with open("schema.txt", "w") as text_file:
    text_file.write(string)